*{
    padding: 0;
    margin: 0;
}


.header{
    height: 100px;
    background-size: 40%;
    background-color: #eee8dfff;
}


h1{
    padding: 10px 0px 0px 20px;
    color: #381717;
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

.tagline{
    padding-left: 20px;
    color: #1C8539;
    font-family: 'Merienda', cursive;

}

.topic{
    margin: 10px;
    text-align: center;
}

.main-page-heading{
    margin: 10px 0 10px 0;
    text-align: center;
}

.main-col-head{
    font-family: 'Merienda', cursive;
    color: #852929;
}
.left-col-head{
    color: #173820;
    font-family: 'Merienda', cursive;
    font-size: 40px;
}


.main-content{
    padding:20px;
    display: grid;
    gap: 1.2rem;
    grid-auto-rows: minmax(350px, auto);

    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
   
}

.main-content >div:nth-child(1){
    grid-area: one;
}

.main-content >div:nth-child(2){
    grid-area: two;
    transition: 0.7s;
}

.main-content >div:nth-child(2):hover{
    transform: scale(0.98); 
}

.main-content >div:nth-child(3){
    grid-area: three;
}

.main-content >div:nth-child(4){
    grid-area: four;
}

.main-content >div:nth-child(5){
    grid-area: five;
}

/* .main-desc{ 
    position: absolute;
    bottom: 20px;
} */


@media (min-width: 50em){
    .main-content{
        grid-template-areas: 
        'one two two'
        'three four five';
        
    }
}

