.main{
    width: 400px;
    height: 221px;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 100%;
    background-position: center;
    background: url(Images/ketamine-sedation_tiny.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s;
}

.image:hover{
    transform: scale(0.7);
}